@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body, select, button {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #2E3A59;
    color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.creators {
    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 80px auto 50px;
    text-align: center;
    background-color: #F4F6FB;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.pickerContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Added this line */
    gap: 20px;
    margin-bottom: 20px;
}

select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #CED4DA;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

#loadingText::before {
    content: "";
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

#gifImage {
    width: 100%;      /* Use the full width of its container */
    max-width: 350px; /* Set a max width to ensure it doesn't get too big */
    height: auto;     /* This will ensure the aspect ratio is maintained */
    display: block;   /* To center the image horizontally */
    margin: 0 auto;   /* Center the image in its container */
}

#messageContainer {
    margin-top: 30px;
    margin-bottom: -30px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  #messageContainer button {
    margin-right: 10px;
}

#messageContainer button:last-child {
    margin-right: 0;
}

#gifDisplay {
    padding-top: 30px;
    padding-bottom: 30px;
}
